@media screen and (max-width: 800px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .frontpage{
       display: flex;
       flex-direction: column-reverse;
       height: 180vh;
       width: 100%;
       
    }
    .menu{
        width: 90%;
        height: 10vh;
        
    }
    .circle{
        display: block;
        width: 100%;
        margin-left: 60px;
      
    }
    .content{
        /* display: block; */
        height: 90vh;
        width: 100%;
        padding-top: 100px;
        /* text-align: left; */
        
    }
    .logo{
        display: none;
    }
   


    
}